h1{
    color: red;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px; width: 500px;
    background-color: purple;
    padding: 50px;
    border: 20px solid orangered;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    background-color: grey;
}
*{
    background-color: yellow;
}